@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --variant1: #343A40;
  --variant2: #495057;
  --variant3: #6C757D;
  --variant4: #ADB5BD;
  --variant5: #ced4da;
  --variant6: #dee2e6;
  --variant7: #e9ecef;
  --dangereous: #EE6352;
  --positive: #59CD90;
  --neutrals: #3FA7D6;
  --aware: #FAC05E;
  --random: #F79D84;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-var1: var(--variant1);
  --color-var2: var(--variant2);
  --color-var3: var(--variant3);
  --color-var4: var(--variant4);
  --color-var5: var(--variant5);
  --color-var6: var(--variant6);
  --color-var7: var(--variant7);
  --color-danger: var(--dangereous);
  --color-confirm: var(--positive);
  --color-neutral: var(--neutrals);
  --color-careful: var(--aware);
  --color-random: var(--random);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #212529;
    --foreground: #F8F9FA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif
}