@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

:root {
  --light-60: #E9ECEF;
  --light-30: #CED4DA;
  --light-10: #ADB5BD;
  --dark-60: #343A40;
  --dark-30: #495057;
  --dark-10: #6C757D;
  --dangereous: #EE6352;
  --positive: #59CD90;
  --neutrals: #3FA7D6;
  --aware: #FAC05E;
  --random: #F79D84;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light-60: var(--light-60);
  --color-light-30: var(--light-30);
  --color-light-10: var(--light-10);
  --color-dark-60: var(--dark-60);
  --color-dark-30: var(--dark-30);
  --color-dark-10: var(--dark-10);
  --color-danger: var(--dangereous);
  --color-confirm: var(--positive);
  --color-neutral: var(--neutrals);
  --color-careful: var(--aware);
  --color-random: var(--random);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #212529;
    --foreground: #F8F9FA;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif
}